body 
{
    background-color: #F1EAC3;
    padding: 25px;
}
h1 , h2, h4
{
    text-align: center;
    color: #003049;
}
.nav
{
    background-color: #B45D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 30px/15px;
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.3em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    text-decoration: underline;
    
}
td
{
    text-align: center;
    padding: 5px;
}
.I1
{
    padding: 10px 20px;
}
.I2
{
    text-align: right;
    
}
ul a
{
    color: #F1EAC3;
}
ul a:visited
{
    color: #F1EAC3;
}
footer a
{
    color: #B02121;
}
footer a:visited
{
    color: #B02121;
}
main
{
    border: solid 4px #B45D00;
    border-radius: 30px/15px;
    background-color: #B89B65;
    
}
main p
{
    padding-left: 10px;
    font-size: 1.1em;
}
footer
{
    border: solid 4px #B45D00;
    background-color: #B89B65;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px/15px;
}
.home
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 50px/25px;
    min-height: 200px;
}
.home a
{
    text-decoration: none;
    color: #B89B65;
    
}
.home a:visited
{
    color: #B89B65;
}
#header1
{
    flex: 1 100%;
    text-decoration: underline;
}
.button
{
    background: #003049;
    width: 120px;
    height: 60px;
    border-radius: 60px/30px;
    line-height: 60px;
    text-align: center;
    border: solid 3px #B45D00;
    
}
#btmTable
{
    padding-bottom: 15px;
}
#errorField
{
    font-size: 1.2em;
    color: red;
    margin: 0px;
    height: 25px;
    padding-left: 0px;
}

#donutForm
{
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 1.1em;
}
#center
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
#states
{
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
}
.mobile
{
    display: none;
}
.summary
{
    text-align: center;
    
}
.btnLink
{
    padding: 25px;
    margin-top: 20px;
    background-color: #003049;
    color: #B89B65;
    border-radius: 25px;
    font-size: 1.1em;
    z-index: -1;
    border-color: #B45D00;
}
.btnLink:hover
{
    background-color: #5C7A8A;
}

.btnLink:focus
{
    outline: none;
}
.drop
{
    padding: 25px;
    margin-top: 20px;
    background-color: #003049;
    color: #B89B65;
    border-radius: 25px;
    font-size: 1.1em;
    z-index: -1;
    border-color: #B45D00;
}
.drop:hover
{
    background-color: #5C7A8A;
}
.drop:focus
{
    outline: none;
}
.menu
{
    background-color: #C0C0C0;
    font-size: 1.1em;
    border-radius: 15px;
    padding: 5px 0px 5px 25px;
    margin: -10px 0px 20px 25px;
    position: absolute;
    min-width: 100px;
    z-index: 2;
    box-shadow: 1px 3px 5px 0px black;
}

.drop_item
{
    color: #003049;
}
.drop_item:visited
{
    color: #003049;
}

#drop_container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 50px/25px;
    min-height: 200px;
}
@media screen and (max-width:825px)
{
    .home
    {
        flex-flow: column;
        align-items: center;
        
    }
    ul
    {
        flex-direction: column;
        align-items: center;
        padding-left: 0px; 
        text-decoration: none;
    }
    body{
        padding: 0px 10px 20px 10px;
        min-width: 95%;
    }
    .browser
    {
        display: none;
    }
    .mobile
    {
        display: block;
        margin: 5px 0px;
    }
    h2
    {
        margin: 4px 0px;
    }
    main
    {
        min-height: 250px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }
    footer p
    {
        margin: 4px 0px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        
    }
    form table
    {
        padding: 0px;
    }
}