body 
{
    background-color: #F1EAC3;
    padding: 25px;
}
h1 , h2, h4
{
    text-align: center;
    color: #003049;
}
.nav
{
    background-color: #B45D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 30px/15px;
    list-style-type: none;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.3em;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: underline;
    
}
td
{
    text-align: center;
    padding: 5px;
}
.I1
{
    padding: 10px 20px;
}
.I2
{
    text-align: right;
    
}
ul a
{
    color: #F1EAC3;
}
ul a:visited
{
    color: #F1EAC3;
}
footer a
{
    color: #B02121;
}
footer a:visited
{
    color: #B02121;
}
main
{
    border: solid 4px #B45D00;
    border-radius: 30px/15px;
    background-color: #B89B65;
    
}
main p
{
    padding-left: 10px;
    font-size: 1.1em;
}
footer
{
    border: solid 4px #B45D00;
    background-color: #B89B65;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px/15px;
}
.home
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 50px/25px;
}
.home a
{
    text-decoration: none;
    color: #B89B65;
    
}
.home a:visited
{
    color: #B89B65;
}
#header1
{
    flex: 1 100%;
    text-decoration: underline;
}
.button
{
    background: #003049;
    width: 120px;
    height: 60px;
    border-radius: 60px/30px;
    line-height: 60px;
    text-align: center;
    border: solid 3px #B45D00;
    
}
#btmTable
{
    padding-bottom: 15px;
}
.mobile
{
    display: none;
}
@media screen and (max-width:825px)
{
    .home
    {
        flex-flow: column;
        align-items: center;
        
    }
    ul
    {
        flex-direction: column;
        align-items: center;
        padding-left: 0px; 
        text-decoration: none;
    }
    body{
        padding-top: 0px;
    }
    .browser
    {
        display: none;
    }
    .mobile
    {
        display: block;
        margin: 5px 0px;
    }
    h2
    {
        margin: 4px 0px;
    }
    main
    {
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }
    footer p
    {
        margin: 4px 0px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        
    }
}